* {
    font-family:'Chivo';
}

.banner {
    background-color: rgb(56,156,221);
    padding: 15px; 
    text-align: center; /* Center the text */
    position: fixed;
    width: 100%;
}

.banner h1 {
    font-size: 3em; /* Make the heading larger */
    color: white; /* Dark gray text color */
}

.main {
    padding: 200px;
    padding-bottom: 50px;
}

.main img {
    width: 900px;
}

.dropdowns {
    padding: 50px;
}


.section-break {
    border: 1px solid orange; 
    border-radius: 10px; 
    /* margin-top: 100px;" */
}

#bubble {
    width: 50%;
    height: 1000px%
}